<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        
        <!-- URL Rewriting for Clean URLs -->
        <rewrite>
            <rules>
                <!-- Remove www prefix -->
                <rule name="Remove www" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.(.+)$" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}/{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Force HTTPS -->
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- SPA Routing -->
                <rule name="SPA Routing" stopProcessing="true">
                    <match url="^(?!.*\.(js|css|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot|ico)).*$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=edge" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
            </customHeaders>
        </httpProtocol>

        <!-- Static Content Compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <!-- Cache Control Headers -->
        <staticContent>
            <!-- HTML - 1 hour -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="01:00:00" />
            
            <!-- JavaScript - 30 days -->
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            
            <!-- CSS - 30 days -->
            <mimeMap fileExtension=".css" mimeType="text/css" />
            
            <!-- Images - 1 year -->
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            
            <!-- Fonts - 1 year -->
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            
            <!-- Other types -->
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".xml" mimeType="application/xml" />
        </staticContent>

        <!-- Directory Browsing Disabled -->
        <directoryBrowse enabled="false" />

        <!-- Custom Error Pages -->
        <httpErrors>
            <error statusCode="404" prefixLanguageFILE="404.html" responseMode="File" />
        </httpErrors>

        <!-- Enable Precompressed Assets -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    </system.webServer>
</configuration>